.purchases-wrapper{
    height: auto;
    background: rgba(240, 235, 235, 0.644);
    display: flex;
    justify-content: center;
    padding: 15px;
    
}

.purchases-container{
    border-radius: 15px;
    border: 2px solid lightgray;
    padding: 12px;
}
.title{
    margin-top: 20px;
    margin-bottom: -25px;
}